<header>
  <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/categories/books.html' | relative_url }}">Books</a>
    <a href="{{ '/categories/games.html' | relative_url }}">Games</a>
    <a href="{{ '/categories/anime.html' | relative_url }}">Anime</a>
    <a href="{{ '/categories/coding.html' | relative_url }}">Coding</a>
    <a href="{{ '/categories/misc.html' | relative_url }}">Misc</a>
  </nav>
</header>
